<article class="card">
  <div *ngFor="let ingredient of value" class="ingredient-item">
    <mat-card class="ingredient-card card">
      <mat-card-content class="card">
        
          <div class="ingredient-quantity" *ngIf="!disableAmount && ingredient.quantity">
            {{ ingredient.quantity }}
          
          <div class="ingredient-unit" *ngIf="ingredient.unit">
            {{ ingredient.unit }}

          <div class="ingredient-food" *ngIf="ingredient.food">
            {{ ingredient.food }}

          <div class="ingredient-note" *ngIf="ingredient.note">
            ({{ ingredient.note }})

  </mat-card>

</article>