<div class="recipe-ingredients">
  <div *ngFor="let ingredient of value" class="ingredient-item">
    <mat-card class="ingredient-card">
      <mat-card-content>
        <div class="ingredient-content">
          <div class="ingredient-quantity" *ngIf="!disableAmount && ingredient.quantity">
            {{ ingredient.quantity }}
          </div>
          <div class="ingredient-unit" *ngIf="ingredient.unit">
            {{ ingredient.unit }}
          </div>
          <div class="ingredient-food" *ngIf="ingredient.food">
            {{ ingredient.food }}
          </div>
          <div class="ingredient-note" *ngIf="ingredient.note">
            ({{ ingredient.note }})
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div> 