<div class="language-dialog-container">
    <h2 mat-dialog-title class="dialog-title">
        <mat-icon>language</mat-icon>
        Select Language
    </h2>

    <mat-dialog-content class="dialog-content">
        <mat-list>
            <mat-list-item
                *ngFor="let language of languages"
                (click)="onLanguageSelect(language.code)"
                [class.selected]="language.code === currentLanguage"
                class="language-item">
                
                <div matListItemIcon class="flag-icon">
                    <span *ngIf="language.flag" class="flag-emoji">
                        {{ getFlagEmoji(language.flag) }}
                    </span>
                    <mat-icon *ngIf="!language.flag">language</mat-icon>
                </div>
                
                <div matListItemTitle class="language-name">
                    {{ getLanguageDisplay(language) }}
                </div>
                
                <div matListItemLine class="language-code">
                    {{ language.code.toUpperCase() }}
                </div>
                
                <mat-icon *ngIf="language.code === currentLanguage" class="selected-icon">
                    check
                </mat-icon>
            </mat-list-item>
        </mat-list>
    </mat-dialog-content>

    <mat-dialog-actions class="dialog-actions">
        <button
            mat-button
            (click)="onCancel()"
            class="cancel-button">
            Cancel
        </button>
    </mat-dialog-actions>
</div> 