<section class="page-container">
  <section class="title-section">
    <ng-content select="[slot=header]"></ng-content>
    
    <h2 class="title text-xl font-medium mb-md"></h2>
      <ng-content select="[slot=title]">
        👋 Here's a Title

    <h3 class="subtitle text-lg font-medium mb-sm"></h3>
      <ng-content></ng-content>
  </section>
  
  <section class="content-section"></section>
    <ng-content select="[slot=content]"></ng-content>
  
  <mat-divider *ngIf="divider" class="title-divider"></mat-divider>
</section>
