<div class="recipe-page-header">
  <app-recipe-page-info-card
    [recipe]="recipe"
    [recipeScale]="recipeScale"
    [landscape]="landscape">
  </app-recipe-page-info-card>
  
  <mat-divider></mat-divider>
  
  <app-recipe-action-menu
    [recipe]="recipe"
    [slug]="recipe.slug"
    [recipeScale]="recipeScale"
    [canEdit]="canEditRecipe"
    [name]="recipe.name"
    [loggedIn]="isOwnGroup"
    [open]="isEditMode"
    [recipeId]="recipe.id"
    class="action-menu"
    (close)="setMode(PageMode.VIEW)"
    (json)="toggleEditMode()"
    (edit)="setMode(PageMode.EDIT)"
    (save)="onSave()"
    (delete)="onDelete()"
    (print)="printRecipe()">
  </app-recipe-action-menu>
</div> 