<section class="page-container">
    <mat-slide-toggle
        [(ngModel)]="modelValue"
        [disabled]="disabled || !isSupported"
        (change)="onToggleChange($event.checked)"
        [matTooltip]="tooltipText"
        class="wakelock-toggle">

            <mat-icon class="toggle-icon">brightness_high</mat-icon>
            <span class="toggle-label">{{ label }}</span>
        
    </mat-slide-toggle>
    
    <div *ngIf="!isSupported" class="unsupported-message">
        <mat-icon class="warning-icon">warning</mat-icon>
        <span>Wake Lock API not supported</span>
    </section>
