<div class="<mat-spinner [diameter]="size().size"
      [strokeWidth]="size().width"
      class="btn btn-primary"
      mode="indeterminate"
      class="loader-spinner">
      
      <div class="loader-content" *ngIf="size().icon > 0">
        <mat-icon 
          [style.font-size.px]="size().icon"
          class="btn btn-primary"
          class="loader-icon">
          {{ primaryIcon }}
        </mat-icon>
        
        <div *ngIf="large" class="loader-text-large">
          <ng-content>
            {{ (small || tiny) ? "" : waitingTextCalculated }}
          </ng-content>
        </div>
    </mat-spinner>
    
    <div *ngIf="!large" class="loader-text">
      <ng-content>
        {{ (small || tiny) ? "" : waitingTextCalculated }}
      </ng-content>
    </section>
