<div class="loader-container">
  <mat-spinner 
    [diameter]="size().size"
    [strokeWidth]="size().width"
    mode="indeterminate"
    class="loader-spinner">

  <div class="loader-content" *ngIf="size().icon > 0">
    <mat-icon 
      [style.font-size.px]="size().icon"
      class="loader-icon">
      {{ primaryIcon }}

    <div *ngIf="large" class="loader-text-large">
      <ng-content>
        {{ (small || tiny) ? "" : waitingTextCalculated }}</mat-icon>

  <div *ngIf="!large" class="loader-text">
    <ng-content>
      {{ (small || tiny) ? "" : waitingTextCalculated }}

