<section class="page-container">
  <button
    mat-raised-button
    class="btn btn-secondary upload-button"
    [matMenuTriggerFor]="imageMenu"
    >
    <mat-icon class="upload-icon">image</mat-icon>
    Image
  </section>

  <mat-menu #imageMenu="matMenu" class="image-menu">
    <mat-card class="menu-card card">
      <mat-card-title class="menu-title card">
        
          <span>Recipe Image</span>
          <app-app-button-upload
            url="none"
            fileName="image"
            [textBtn]="false"
            [post]="false"
            (uploaded)="uploadImage($event)"
            class="upload-component"></app-app-button-upload></<app-app-button-upload
            url="none"
            fileName="image"
            [textBtn]="false"
            [post]="false"
            (uploaded)="uploadImage($event)"
            class="upload-component"></app-app-button-upload>>
          </mat-card-title>
        
      </mat-card>
      
      <mat-card-content class="menu-content card">
        <div class="url-section">
          <mat-form-field appearance="outline" class="url-input w-full"></mat-form-field>
            <mat-label>URL</mat-label>
            <input matInput
                   [(ngModel)]="url"
                   (input)="onUrlChange($event)"
                   placeholder="Enter image URL"
                   class="url-input-field">
            <mat-error *ngIf="messages.length > 0">{{ messages[0] }}</mat-error>
          
          <button mat-raised-button
                  class="btn btn-primary get-button"
                  [loading]="loading"
                  [disabled]="isDisabled"
                  (click)="getImageFromURL()"
                  >
            Get

      </mat-menu>
