<form>
  <input
    #fileInput
    class="file-input"
    type="file"
    [accept]="accept"
    [multiple]="multiple"
    (change)="onFileChanged($event)"
  >
  
  <buttonmat-button [color]="color" [disabled]="disabled" [class.small]="small" [class.text-button]="textBtn" [class.elevated-button]="!textBtn" (click)="onButtonClick()" class="upload-button"></button>
    <mat-spinner
      *ngIf="isSelecting"
      diameter="20"
      class="spinner">

    <mat-icon
      *ngIf="!isSelecting"
      class="upload-icon">
      {{ effIcon }}
    
    <span class="button-text">{{ displayText }}</span>
  </form>
