<div class="recipe-list" [class.tile-layout]="tile">
  <!-- Tile Layout (Grid) -->
  <div *ngIf="tile" class="recipe-grid">
    <app-recipe-card
      *ngFor="let recipe of recipes; trackBy: trackByRecipeId"
      [name]="recipe.name"
      [slug]="recipe.slug"
      [description]="recipe.description"
      [rating]="recipe.rating || 0"
      [image]="recipe.image || ''"
      [tags]="recipe.tags || []"
      [recipeId]="recipe.id"
      [isOwnGroup]="isOwnGroup || false"
      [imageHeight]="small ? 150 : 200"
      (click)="onRecipeClick(recipe)"
      (delete)="onRecipeDelete($event)"
      class="recipe-card-item"></app-recipe-card></<app-recipe-card
      *ngFor="let recipe of recipes; trackBy: trackByRecipeId"
      [name]="recipe.name"
      [slug]="recipe.slug"
      [description]="recipe.description"
      [rating]="recipe.rating || 0"
      [image]="recipe.image || ''"
      [tags]="recipe.tags || []"
      [recipeId]="recipe.id"
      [isOwnGroup]="isOwnGroup || false"
      [imageHeight]="small ? 150 : 200"
      (click)="onRecipeClick(recipe)"
      (delete)="onRecipeDelete($event)"
      class="recipe-card-item"></app-recipe-card>></<app-recipe-card
      *ngFor="let recipe of recipes; trackBy: trackByRecipeId"
      [name]="recipe.name"
      [slug]="recipe.slug"
      [description]="recipe.description"
      [rating]="recipe.rating || 0"
      [image]="recipe.image || ''"
      [tags]="recipe.tags || []"
      [recipeId]="recipe.id"
      [isOwnGroup]="isOwnGroup || false"
      [imageHeight]="small ? 150 : 200"
      (click)="onRecipeClick(recipe)"
      (delete)="onRecipeDelete($event)"
      class="recipe-card-item"></app-recipe-card>>>

  <!-- List Layout -->
  <mat-list *ngIf="!tile" class="recipe-list-items">
    <mat-list-item
      *ngFor="let recipe of recipes; trackBy: trackByRecipeId"
      [routerLink]="disabled ? null : ['/recipes', recipe.slug]"
      [class.disabled]="disabled"
      class="recipe-list-item">
      
      <div matListItemAvatar class="recipe-avatar" style="width: 40px; height: 40px; border-radius: 50%; background-color: var(--mat-primary-color, #1976d2); display: flex; align-items: center; justify-content: center;">
        <mat-icon [class.small]="small" style="color: white;">restaurant</mat-icon>

      <div matListItemTitle class="recipe-title">
        {{ recipe.name }}

      <div 
        *ngIf="showDescription && recipe.description" 
        matListItemLine 
        class="recipe-description">
        {{ recipe.description }}</mat-list-item>
    </mat-list>
      
      <div 
        *ngIf="listItemDescriptions[recipes.indexOf(recipe)]"
        matListItemLine 
        class="recipe-quantity"
        [innerHTML]="listItemDescriptions[recipes.indexOf(recipe)]">
      
      <div matListItemMeta class="recipe-actions">
        <ng-content 
          [attr.slot]="'actions-' + recipe.id"
          [attr.data-recipe]="recipe">
