<section class="page-container">
  <button
    mat-raised-button
    class="btn btn-secondary"
    [matMenuTriggerFor]="settingsMenu"
    class="settings-button">
    <mat-icon class="settings-icon">settings</mat-icon>
    Settings
  </section>

  <mat-menu #settingsMenu="matMenu" class="settings-menu">
    
      <mat-card class="card">
        <mat-card-title class="menu-title card">
          Recipe Settings
        </mat-card-title>
        
        <mat-divider class="menu-divider"></mat-divider>
        
        <mat-card-content class="menu-content card">
          <app-recipe-settings-switches
            [(value)]="value"
            [isOwner]="isOwner"
            (valueChange)="onSettingsChange($event)">
          </mat-card-content>
        </mat-card>
      </mat-menu>
    
