<button 
  mat-raised-button
  [disabled]="disabled || loading"
  [class.btn-primary]="buttonColor === 'primary'"
  [class.btn-secondary]="buttonColor === 'accent'"
  [class.btn-error]="buttonColor === 'warn'"
  [class.text-sm]="buttonSize === 'small'"
  [class.text-lg]="buttonSize === 'large'"
  [class.mat-stroked-button]="btnStyle.outlined"
  [class.mat-button]="btnStyle.text"
  (click)="onButtonClick()"
  class="btn transition-all">
  
  <mat-icon *ngIf="!iconRight && buttonIcon" class="mr-sm">
    {{ buttonIcon }}

  <ng-content></ng-content>
  
  <mat-icon *ngIf="iconRight && buttonIcon" class="ml-sm">
    {{ buttonIcon }}

  <mat-spinner *ngIf="loading" diameter="20" class="ml-sm"></mat-spinner>

</mat-icon>
</mat-icon>