<div *ngIf="yieldDisplay" class="scale-edit-container">
  
    <div class="scale-display">
      <div [matMenuTriggerFor]="scaleMenu"
           [matTooltip]="canEditScale ? 'Edit Scale' : ''"
           matTooltipPosition="above"
           class="scale-card"
           [class.editable]="canEditScale"
           [class.disabled]="!canEditScale">
        <mat-icon *ngIf="canEditScale" class="edit-icon">edit</mat-icon>
        <span [innerHTML]="yieldDisplay"></span>

      <mat-menu #scaleMenu="matMenu" class="scale-menu">
        <mat-card class="menu-card card">
          <mat-card-title class="menu-title card"></mat-card-title>
            Servings
          
          <mat-card-content class="menu-content card">
            <div class="input-section">
              <mat-form-field appearance="outline" class="yield-input w-full"></mat-form-field>
                <mat-label>Servings</mat-label>
                <input matInput
                       type="number"
                       [min]="0"
                       [value]="yieldQuantity"
                       (input)="onYieldQuantityChange($event)"
                       class="yield-input-field">
              
              <button mat-icon-button
                      [matTooltip]="'Reset Servings Count'"
                      matTooltipPosition="end"
                      (click)="onReset()"
                      class="reset-button">
                <mat-icon>undo</mat-icon>

          </mat-card>
        </mat-menu>

    <app-base-button-group
      *ngIf="canEditScale"
      [buttons]="buttons"
      [large]="false"
      (decrement)="onDecrement()"
      (increment)="onIncrement()"></app-base-button-group></<app-base-button-group
      *ngIf="canEditScale"
      [buttons]="buttons"
      [large]="false"
      (decrement)="onDecrement()"
      (increment)="onIncrement()"></app-base-button-group>>
