<mat-card [ngClass]="classes" class="stat-card card">
  <div class="card-header">
    <ng-content select="[slot=avatar]">
      <div class="avatar-section" *ngIf="icon || text">
        <div 
          class="avatar-content"
          [style.background-color]="color"
          [style.max-height]="icon ? '90px' : 'auto'"
          [style.width]="icon ? 'auto' : '100%'">
          
          <mat-icon *ngIf="icon" class="avatar-icon">
            {{ icon }}

          <div *ngIf="text" class="avatar-text">
            {{ text }}</mat-icon>

    <div *ngIf="hasAfterHeading" class="after-heading">
      <ng-content select="[slot=after-heading]"></ng-content>

    <ng-content></ng-content>

  <div *ngIf="hasActions" class="flex justify-end gap-sm pt-md">
    <mat-divider></mat-divider>
    
      <ng-content select="[slot=actions]"></ng-content>

  <div *ngIf="hasBottom && !hasActions" class="card-bottom">
    <mat-divider></mat-divider>
    
      <ng-content select="[slot=bottom]"></ng-content>

</mat-card>