<mat-card [ngClass]="classes" class="stat-card">
  <div class="card-header">
    <ng-content select="[slot=avatar]">
      <div class="avatar-section" *ngIf="icon || text">
        <div 
          class="avatar-content"
          [style.background-color]="color"
          [style.max-height]="icon ? '90px' : 'auto'"
          [style.width]="icon ? 'auto' : '100%'">
          
          <mat-icon *ngIf="icon" class="avatar-icon">
            {{ icon }}
          </mat-icon>
          
          <div *ngIf="text" class="avatar-text">
            {{ text }}
          </div>
        </div>
      </div>
    </ng-content>
    
    <div *ngIf="hasAfterHeading" class="after-heading">
      <ng-content select="[slot=after-heading]"></ng-content>
    </div>
  </div>
  
  <div class="card-content">
    <ng-content></ng-content>
  </div>
  
  <div *ngIf="hasActions" class="card-actions">
    <mat-divider></mat-divider>
    <div class="actions-content">
      <ng-content select="[slot=actions]"></ng-content>
    </div>
  </div>
  
  <div *ngIf="hasBottom && !hasActions" class="card-bottom">
    <mat-divider></mat-divider>
    <div class="bottom-content">
      <ng-content select="[slot=bottom]"></ng-content>
    </div>
  </div>
</mat-card> 